.loginbox{
    width: 100%;
    height:100%;
    border-radius: 40px;
    background:#fff;
}
body{
    background: #a2c2e2;
}
.mber{
    padding:10px;
    width:100%;
    background-color: aqua;
    background-image:url();
}