.loginbox{
    display: block;
    border-radius: 10px;
    padding:0 0 0px 0px;
    margin:auto;
    background-repeat: no-repeat;
    background-image: url(https://cdn.glitch.com/e3342b72-93eb-4a4c-bdae-a0166de9f522%2F1075252.png);
    background-size: 100% auto;
    background-position:right 30% bottom 0;
}
@media screen and (max-width:800px){
    .loginbox{
        background-size: cover;  
    }
    .ttp{
        width:auto;
    }
}
.donthaveaccounts{
    text-decoration: none;
    color:blue;
    font-size:small;
}
.lb{
    cursor: pointer;
    margin-top: 20px;
    background-color: crimson;
    width:90%;
    border-radius: 10px;
    padding: 10px;
    border:#ff6347 solid;
}
body,html{
    display:flex;
    background:#fffafa;
    display:block;
    text-align: center;
}
.mber{
    border-radius: 9px 9px 0 0;
    width:calc(100% - 20px);
    background-color: #ff6347;
    padding:10px;
    display: inline-block;
    text-align: left;
}
.ttp{
    outline:none;
    border:none;
    border-bottom:solid 5px gray;
    padding:8px;
    font-size:large;
    width: 50%;
}
.ttp:focus{
    border-bottom:solid 5px #ff6347;
}
.aps{
    margin-left:20px;
    font-weight: bold;
    color: #fff;
}
.alb{
    height: 88vh;
}